.hidden {
	display: none;
}

/* Default settings*/

:root {
	--icon-social-text-color: #f4f4fd;
	--color-label-checkbox: #8e8f99;
	--checked-input-span: #404bbf;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #FFFFFF;
	color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul, ol {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

img {
	height: auto;
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

/* .header-link {
	padding-top: 24px;
	padding-bottom: 24px;
} */

.section,
.footer {
	padding-top: 96px;
	padding-bottom: 96px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Common */

.container {
	max-width: 320px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media screen and (min-width: 1158px) {
	.container {
		max-width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Header */

.page-header {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
	0px 1px 1px rgba(46, 47, 66, 0.16),
	0px 1px 6px rgba(46, 47, 66, 0.08);
}

.box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list,
.contact-address {
	display: none;
}

.logo,
.logo-footer {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	color: #4d5ae5;

	padding: 16px 0;

	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
}

.logo-part-two {
	color: #2e2f42;
}

.burger-btn {
	padding: 0;
	border: none;
	background-color: transparent;
}

.burger-icon {
	display: block;
	fill: #2f2f37;
}

@media screen and (min-width: 768px) {
	.logo {
		padding: 24px 0;
		margin-right: 120px;
	}

	.nav-page {
		display: flex;
		align-items: center;
	}

	.burger-btn {
		display: none;
	}

	.nav-list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}

	.nav-link {
		position: relative;

		display: flex;
		flex-direction: column;
		padding-top: 24px;
		padding-bottom: 24px;

		color: #2e2f42;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.02em;

		transition-duration: 250ms;
		transition-property: color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.nav-link.current {
		color: #404bbf;
	}

	.nav-link.current::after {
		content: "";
		background-color: #404bbf;

		position: absolute;
		left: 0;
		bottom: -1px;

		width: 100%;
		display: block;
		height: 4px;
		border-radius: 2px;

		opacity: 0;
		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.contact-address {
		display: block;
		font-style: normal;
	}

	.contact-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.contact-link {
		font-size: 12px;
		font-weight: 400;
		line-height: 1.17;
		color: #434455;
		letter-spacing: 0.04em;

		transition-duration: 250ms;
		transition-property: color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.nav-link.current::after,
	.nav-link:hover::after,
	.nav-link:focus::after,
	.nav-link:is(:focus, :hover),
	.contact-link:is(:focus, :hover) {
		opacity: 1;
		color: #404bbf;
	}
}

@media screen and (min-width: 1158px) {
	.logo {
		margin-right: 76px;
	}

	.contact-list {
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}

	.contact-link {
		padding: 24px 0;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
}

/* Main */

/* Section#1 Hero */

.section-hero {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 72px;
	padding-bottom: 72px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #2e2f42;
	background-image: linear-gradient(to bottom,
	rgba(46, 47, 66, 0.7),
	rgba(46, 47, 66, 0.7)),
	url(../images/hero/hero-mob-1-min.jpg);
}

.hero-title {
	color: #ffffff;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;

	max-width: 216px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 72px;
}

.button,
.form-button,
.modal-btn-send {
	height: 56px;
	min-width: 169px;
	border-radius: 4px;

	border: none;
	display: block;
	margin: 0 auto;
	padding: 16px 32px;

	color: #ffffff;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	cursor: pointer;
	background-color:  #4d5ae5;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:is(:focus, :hover) {
	background-color: #404bbf;
}

@media (min-resolution: 2x) {
	.section-hero {
		background-image: linear-gradient(to bottom,
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)),
		url(../images/hero/hero-mob-1@2x-min.jpg);
	}
}

@media screen and (min-width: 768px) {
	.hero-title {
		color: #ffffff;
		font-size: 56px;
		line-height: 1.07;
		text-align: center;
		letter-spacing: 0.02em;
		
		max-width: 496px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 36px;
	}

	.section-hero {
		padding-top: 112px;
		padding-bottom: 112px;
		background-image: linear-gradient(to bottom,
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)),
		url(../images/hero/hero-tab-1-min.jpg);
	}

	@media (min-resolution: 2x) {
		.section-hero {
			background-image: linear-gradient(to bottom,
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)),
			url(../images/hero/hero-tab-1@2x-min.jpg);
		}
	}
}

@media screen and (min-width: 1158px) {
	.hero-title {
		margin-bottom: 48px;
	}

	.section-hero {
		padding-top: 188px;
		padding-bottom: 188px;
		background-image: linear-gradient(to bottom,
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)),
		url(../images/hero/hero-desk-1-min.jpg);
	}

	@media (min-resolution: 2x) {
		.section-hero {
			background-image: linear-gradient(to bottom,
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)),
			url(../images/hero/hero-desk-1@2x-min.jpg);
		}
	}
}

/* Section#2 Our Advantages */

.list {
	display: flex;
	flex-direction: column;
	row-gap: 72px;
}

.icon-box {
	display: none;
}

.subtitle {
	font-size: 36px;
	color: #2e2f42;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}

.desc-info {
	color: #434455;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
	.list {
		flex-wrap: wrap;
		column-gap: 24px;
		flex-direction: row;
		justify-content: center;
	}

	.list-cards {
		row-gap: 64px;
	}

	.item {
		width: calc((100% - 24px) / 2);
	}
}

@media screen and (min-width: 1158px) {
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.list {
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;
	}

	.item,
	.item-card {
		width: calc((100% - 72px) / 4);
	}

	.icon-box {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 112px;
		
		margin-bottom: 8px;
		
		border-radius: 4px;
		border: 1px solid #8e8f99;
		background-color: #f4f4fd;
	}

	.item .subtitle {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		text-align: left;
	}

	.desc-info {
		font-weight: 400;
	}
}

/* Section#3 Our Team */

.section-team {
	background-color: #f4f4fd;
}

.section-title {
	color: #2e2f42;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;

	margin-bottom: 72px;
}

@media screen and (max-width: 767px) {
	.list-cards {
		margin: 0 auto;
		max-width: 264px;
	}
}

.item-card {
	border-radius: 0 0 4px 4px;
	background-color: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
	0px 1px 1px rgba(46, 47, 66, 0.16),
	0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-box {
	text-align: center;
	padding: 32px 0;
}

.subtitle-card {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
}

.desc-card {
	font-weight: 400;
	margin-bottom: 8px;
}

.social-list {
	gap: 24px;
	display: flex;
	justify-content: center;
}

.social-item {
	width: 40px;
	height: 40px;
}

.social-link {
	width: 100%;
	height: 100%;

	border-radius: 50%;
	background-color: #4d5ae5;

	display: flex;
	align-items: center;
	justify-content: center;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-icon {
	fill: var(--icon-social-text-color);
}

.social-list .social-link:is(:focus, :hover) {
	background-color: #404bbf;
}

/* Section#4 Our Portfolio */

.items {
	display: flex;
	row-gap: 48px;
	flex-direction: column;
}

.gallery-text {
	display: none;
}

.gallery-thumb {
	padding: 32px 16px;
	border-bottom: 1px solid #e7e9fc;
	border-right: 1px solid #e7e9fc;
	border-left: 1px solid #e7e9fc;
}

.gallery-thumb .subtitle-card {
	text-align: left;
}

@media screen and (min-width: 768px) {
	.items {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 72px;
	}

	.gallery-item {
		width: calc((100% - 24px) / 2);
	}
}

@media screen and (min-width: 1158px) {
	.items {
		row-gap: 48px;
	}

	.gallery-item {
		cursor: pointer;
		width: calc((100% - 48px) / 3);

		transition-duration: 250ms;
		transition-property: box-shadow;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.gallery-item:is(:focus, :hover) {
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
	}

	.gallery-overlay {
		position: relative;
		overflow: hidden;
	}

	.gallery-text {
		display: block;
		width: 100%;
		height: 100%;
		padding: 40px 32px;

		position: absolute;
		top: 0;
		transform: translateY(100%);
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		background-color: #4d5ae5;
		color: var(--icon-social-text-color);
	}

	.gallery-item:hover
	.gallery-text {
		transform: translateY(0%);
	}
}

/* Footer */

.footer {
	background-color:  #2e2f42;
}

.footer-box {
	display: flex;
	row-gap: 72px;
	flex-direction: column;
}

.inner-box,
.social-media,
.subscribe-text {
	text-align: center;
}

.logo-footer {
	padding: 0;
	margin-bottom: 16px;
}

.footer .logo-part-two,
.footer .text-info {
	color: #f4f4fd;
}

.text-info {
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.footer .form-input {
	color: #ffffff;
	width: 100%;
	height: 40px;

	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;

	padding: 8px 16px;
	margin-bottom: 16px;

	opacity: 0.3;
	border-radius: 4px;
	border: 1px solid #ffffff;
	background-color: transparent;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer .form-input::placeholder {
	opacity: 0.6;
	color: #ffffff;
}

@media screen and (min-width: 768px) {
	.footer-box {
		flex-wrap: wrap;
		column-gap: 24px;
		flex-direction: row;
		align-items: baseline;
		padding-left: 92px;
	}

	.inner-box {
		max-width: 264px;
	}

	.social-box {
		max-width: 208px;
	}

	.form-box {
		max-width: 453px;
	}

	.form {
		gap: 24px;
		display: flex;
	}

	.inner-box,
	.social-media,
	.subscribe-text {
		text-align: left;
	}

	.footer .form-input {
		margin-bottom: 0;
		width: 264px;
	}

	.footer-elem {
		flex-basis: calc((100% - 24px) / 2);
	}
}

.social-media,
.subscribe-text {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
}

.footer .social-list {
	gap: 16px;
}

.footer .form-button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 40px;
	min-width: 165px;

	padding: 8px 24px;
	box-shadow: none;
}

.footer .button-icon {
	fill: currentColor;
	display: inline-block;
	margin-left: 16px;
}