
/* Default settings*/

:root {
	--icon-social-text-color: #f4f4fd;
	--color-label-checkbox: #8e8f99;
	--checked-input-span: #404bbf;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #FFFFFF;
	color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul, ol {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

img {
	height: auto;
	display: block;
	max-width: 100%;
}

.header-link {
	padding-top: 24px;
	padding-bottom: 24px;
}

.container {
	max-width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Header */

.page-header {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
	0px 1px 1px rgba(46, 47, 66, 0.16),
	0px 1px 6px rgba(46, 47, 66, 0.08);
}

.box {
	display: flex;
	align-items: center;
}

.logo,
.logo-footer {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	color: #4d5ae5;

	margin-right: 76px;

	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
}

.logo-part-two {
	color: #2e2f42;
}

/* Navigation */

.nav-page {
	display: flex;
	align-items: center;
}

.nav-list,
.contact-list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.nav-list .nav-link {
	position: relative;

	display: flex;
	flex-direction: column;
	padding-top: 24px;
	padding-bottom: 24px;

	color: #2e2f42;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;

	transition-duration: 250ms;
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
	color: #404bbf;
}

.nav-link::after {
	content: "";
	background-color: #404bbf;

	position: absolute;
	left: 0;
	bottom: -1px;

	width: 100%;
	display: block;
	height: 4px;
	border-radius: 2px;

	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-address {
	font-style: normal;
	margin-left: auto;
}

.contact-link {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #434455;
	letter-spacing: 0.02em;

	transition-duration: 250ms;
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after,
.nav-list .nav-link:hover::after,
.nav-list .nav-link:focus::after,
.nav-list .nav-link:is(:focus, :hover),
.contact-list .contact-link:is(:focus, :hover) {
	opacity: 1;
	color: #404bbf;
}

/* Main */

/* Section#1 Hero */

.section-hero {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 188px;
	padding-bottom: 188px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #2e2f42;
	background-image: linear-gradient(to bottom,
	rgba(46, 47, 66, 0.7),
	rgba(46, 47, 66, 0.7)),
	url(../images/banner-office_sq.jpg);
}

.hero-title {
	color: #ffffff;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;

	max-width: 496px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

.button,
.form-button,
.modal-btn-send {
	height: 56px;
	min-width: 169px;
	border-radius: 4px;

	border: none;
	display: block;
	margin: 0 auto;
	padding: 16px 32px;

	color: #ffffff;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	cursor: pointer;
	background-color:  #4d5ae5;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
	background-color: #404bbf;
}

/* Section#2 Our Advantages
subtitle & desc-info <<-- for #2, #3, #4 sections*/

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.list .item {
	width: calc((100% - 72px) / 4);
}

.icon-box {
	height: 112px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 8px;

	border-radius: 4px;
	border: 1px solid #8e8f99;
	background-color: #f4f4fd;
}

.subtitle {
	color: #2e2f42;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;

	margin-bottom: 8px;
}

.desc-info {
	color: #434455;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Section#3 Our Team
section-title <<-- for #3, #4 sections*/

.section-team {
	background-color: #f4f4fd;
}

.section-title {
	color: #2e2f42;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;

	margin-bottom: 72px;
}

.item-card {
	border-radius: 0 0 4px 4px;
	background-color: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
	0px 1px 1px rgba(46, 47, 66, 0.16),
	0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-box {
	text-align: center;
	padding: 32px 0;
}

.desc-card {
	margin-bottom: 8px;
}

.social-list {
	gap: 24px;
	display: flex;
	justify-content: center;
}

.social-item {
	width: 40px;
	height: 40px;
}

.social-link {
	width: 100%;
	height: 100%;

	border-radius: 50%;
	background-color: #4d5ae5;

	display: flex;
	align-items: center;
	justify-content: center;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-link:is(:focus, :hover) {
	background-color: #404bbf;
}

.social-list .social-icon {
	fill: var(--icon-social-text-color);
}

/* Section#4 Our Portfolio */

.items {
	display: flex;
	flex-wrap: wrap;
}

.items .gallery-item {
	margin-right: 24px;
	margin-bottom: 48px;
	cursor: pointer;
	width: calc((100% - 48px) / 3);

	transition-duration: 250ms;
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.items .gallery-item:nth-child(3n) {
	margin-right: 0;
}

.items .gallery-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.items .gallery-item:is(:focus, :hover) {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
	0px 1px 1px rgba(46, 47, 66, 0.16),
	0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Overlay for cards */

.gallery-overlay {
	position: relative;
	overflow: hidden;
}

.gallery-text {
	width: 100%;
	height: 100%;
	padding: 40px 32px;

	position: absolute;
	top: 0;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	background-color: #4d5ae5;
	color: var(--icon-social-text-color);
}

.gallery-item:hover
.gallery-text {
	transform: translateY(0%);
}

.gallery-thumb {
	padding: 32px 16px;
	border-bottom: 1px solid #e7e9fc;
	border-right: 1px solid #e7e9fc;
	border-left: 1px solid #e7e9fc;
}

/* Footer */

.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color:  #2e2f42;
}

.footer-box {
	display: flex;
	align-items: baseline;
}

.inner-box {
	margin-right: 120px;
}

.logo-footer {
	display: inline-block;
	margin-right: 0;
	margin-bottom: 16px;
}

.footer .logo-part-two,
.footer .text-info {
	color: #f4f4fd;
}

.footer .text-info {
	max-width: 264px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.social-box {
	max-width: 208px;
	margin-right: 80px;
}

.social-media,
.subscribe-text {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
}

.footer .social-list {
	gap: 16px;
}

.footer .social-link:is(:focus, :hover) {
	background-color:  #31d0aa;
}

.footer .form {
	gap: 24px;
	display: flex;
	max-width: 453px;
}

.footer .form-input {
	color: #ffffff;
	width: 264px;
	height: 40px;

	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;

	padding: 8px 16px;

	border-radius: 4px;
	border: 1px solid #ffffff;
	background-color: transparent;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer .form-input::placeholder {
	color: #ffffff;
}

.footer .form-button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 40px;
	min-width: 165px;

	padding: 8px 24px;
	box-shadow: none;
}

.footer .button-icon {
	fill: currentColor;
	display: inline-block;
	margin-left: 16px;
}

/* Modal window */

.modal-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgb(46, 47, 66, 0.4);

	opacity: 0;
	pointer-events: none;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
	visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Add / Delete --> class "is-open" on backdrop */
.modal-overlay.is-open {
	opacity: 1;
	pointer-events: auto;
}

.modal {
	width: 408px;
	min-height: 584px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 72px 24px 24px 24px;

	overflow-y: auto;
	border-radius: 4px;
	background-color: #fcfcfc;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
	0 1px 3px 0 rgba(0, 0, 0, 0.12),
	0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-btn-close {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 24px;
	right: 24px;

	width: 24px;
	height: 24px;
	cursor: pointer;

	padding: 0;

	border-radius: 50%;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:is(:focus, :hover) {
	fill: #ffffff;
	border: none;
	outline: none;
	background-color: #404bbf;
}

.modal-icon-close {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	color: #2e2f42;
	text-align: center;
	letter-spacing: 0.02em;

	margin-bottom: 16px;
}

.form-modal {
	display: flex;
	flex-direction: column;
}

.input-wrapper {
	position: relative;
	margin-bottom: 8px;
}

.form-label,
.form-textarea {
	display: block;
	font-size: 12px;
	color: #8e8f99;
	line-height: 1.17;
	letter-spacing: 0.04em;

	margin-bottom: 4px;
}

.input-box {
	position: relative;
}

.form-input-modal {
	width: 100%;
	height: 40px;

	padding-left: 38px;
	cursor: pointer;
	outline: transparent;

	border-radius: 4px;
	background-color: transparent;
	border: 1px solid rgba(46, 47, 66, 0.4);
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-input-modal:is(:focus, :hover) + .form-icon {
	fill: #4d5ae5;
} */

.input-wrapper:focus-within .form-icon {
	fill: #4d5ae5;
}

/* .form-input-modal:is(:focus, :hover) {
	border-color:#4d5ae5;
} */

.form-input-modal:focus-within {
	border-color:#4d5ae5;
}

.textarea-wrapper {
	margin-bottom: 16px;
}

.form-textarea {
	width: 100%;
	height: 120px;
	color: rgba(46, 47, 66, 0.4);

	padding: 8px 16px;

	resize: none;
	cursor: pointer;
	outline: transparent;
	background-color: transparent;

	border-radius: 4px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-within {
	border-color:#4d5ae5;
}

.form-textarea::placeholder {
	margin-bottom: 0;
	color: rgba(46, 47, 66, 0.4);
}

.form-field {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.form-field .form-label {
	color: var(--color-label-checkbox);
	margin-bottom: 0;
}

/* .form-checkbox {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	margin-right: 8px;
} */

.custom-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 2px;
	border: 1px solid rgba(46, 47, 66, 0.4);

	display: inline-flex;
	align-items: center;
	justify-content: center;

	fill: transparent;
	margin-right: 8px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border 250ms cubic-bezier(0.4, 0, 0.2, 1),
	fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-label > .custom-checkbox {
	fill: var(--icon-social-text-color);
	border: none;
	background-color: var(--checked-input-span);
}

.form-link {
	color: #4d5ae5;
	font-size: 12px;
	line-height: 1.33;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}